body{
	margin:0;
	padding:0px;
	height:100%;
	font-family:sans-serif;
	background:url(../images/groot2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size:cover;
	background-attachment:fixed;
}
::placeholder {
  color: #c7bfbf;
  opacity:1;
   
}

a:link{
	color:#c7bfbf;
	background-color:transparent;
	text-decoration:none;
}
a:visited{
	color:#c7bfbf;
	background-color:transparent;
	text-decoration:none;
}
	
a:hover{
	color:#151312;
	background-color:transparent;
	text-decoration:underline;
}